.container{
  display: grid;
  grid-column: 1fr 1fr 1fr 1fr 1fr;
  grid-row:  1fr 1fr 1fr ;
  gap :20px;


}

.item1{
    grid-column: 1;
    grid-row: 1 / 3  ;
    background-color: rgb(11, 212, 71);

}
.item2{   
   grid-column: 2 / 4;
    grid-row:  1 ;
    background-color: rgb(135, 135, 156);

}

.item3{
   grid-column: 4;
    grid-row: 1 ;
    background-color: rgba(76, 150, 8, 0.322);

}
.item4{
    grid-column: 5;
    grid-row: 1  ;
    background-color: rgb(27, 163, 197);
}

.item5{
   grid-column: 2 /4;
    grid-row: 2 / 4 ;
    background-color: rgb(53, 207, 61);

}
.item6{
   grid-column: 4 / 6;
    grid-row:  2 / 3  ;
    background-color: rgb(215, 57, 255);

}
.item7{
   grid-column: 1 ;
    grid-row: 3  ;
    background-color: rgb(206, 224, 44);

}
.item8{
   grid-column: 4;
    grid-row: 3 ;
    background-color: rgb(120, 25, 133);
}
.item9{
     grid-column: 5;
    grid-row: 3 ;
    background-color: rgb(196, 160, 94);
}